<div class="panel panel-default">
	<div class="panel-heading"><a href="#" class="pull-right">[create new]</a> <h4>Project</h4></div>
	<div class="panel-body">
		<!-- <label for="projectName">Project:</label> -->
		<select class="form-control" id="projectName" ng-options="project.name for project in projects" ng-model="selectedProject" ng-change="projectChange(selectedProject)">
		</select>
		<!-- <button class="btn btn-primary">New</button> -->
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><a href="#" class="pull-right">[create new]</a><h4>Entities</h4></div>
	<div class="panel-body">
		<div class="list-group">
			<a class="list-group-item" ng-show="entities.length > 0" ng-click="selectEntity(entity)" ng-repeat="entity in entities">
				{{entity.name}}
			</a>
		</div>
	</div>
</div>